@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin-reverse {
  to {
    transform: rotate(-1turn);
  }
}
@keyframes spin-reverse {
  to {
    transform: rotate(-1turn);
  }
}
.animate-spin-slow {
  -webkit-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}
.animate-spin-reverse-slower {
  -webkit-animation: spin-reverse 6s linear infinite;
  animation: spin-reverse 6s linear infinite;
}
